
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css1")
        @RenderSection("CssHeader", required: false)

        @Scripts.Render("~/bundles/modernizr")
 
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/layoutscript")

        @RenderSection("ScriptsHeader", required: false)
    </head>


 <body>
    <div id="page_wrap">

    <header>

      @*  <div class="logo-container">

            <a id="logo" title="Tên khách sạn" href="#"><img src="img/logo.png" alt="Tên Khách Sạn"></a>

        </div><!-- Logo Side ENDS -->*@

        <nav>

            <ul id="menu">
                <li>
                    <div class="menu-abs-bg background-color"></div>
                    <div class="home-icon menu-specs">
                        @Html.ActionLink("Trang chủ", "Index", "Home", null, new { @class="right"})
                    </div>       
                </li>
                <li>
                    <div class="menu-abs-bg background-color"></div>
                    <div class="aboutus-icon menu-specs">
                        @Html.ActionLink("Giới thiệu","Aboutfull", "Home",null, new { @class="right"})
                    </div>
@*                    <ul>
                        <li><div class="sub-menu-bg background-color"></div>
                            @Html.ActionLink("Giới thiệu chung","Aboutfull", "Home",null)
                        </li>
                        <li><div class="sub-menu-bg background-color"></div>
                            @Html.ActionLink("Loại hình kinh doanh","Kinhdoanh","Home",null)
                        </li>
                        <li><div class="sub-menu-bg background-color"></div>
                            @Html.ActionLink("Thông tin tuyển dụng" ,"tuyendung","Home",null)
                        </li>
                    </ul>*@
                </li>
                <li>
                    <div class="menu-abs-bg background-color"></div>
                    <div class="services-icon menu-specs">
                        @Html.ActionLink("Dịch vụ","Dichvu","Home",null, new { @class="right"})
                    </div>
                </li>
                <li>
                    <div class="menu-abs-bg background-color"></div>
                    <div class="portfolio-icon menu-specs">
                        @Html.ActionLink("Đối tác","doitac","Home",null, new { @class="right"})
                    </div>

                </li>
                <li>
                    <div class="menu-abs-bg background-color"></div>
                    <div class="blog-icon menu-specs">
                        @Html.ActionLink("Tin tức" ,"Index", "TinTuc", null, new { @class="right"})
                    </div>
                </li>
                <li>
                    <div class="menu-abs-bg background-color"></div>
                    <div class="contact-icon menu-specs">
                        @Html.ActionLink("Liên lạc", "Contact", "Home", null, new { @class="right"})
                       
                    </div>
                </li>
            </ul><!-- Menu ENDS -->

        </nav><!-- Nav ENDS -->


    </header><!-- Left Side ENDS -->


    <div class="rightSide">
      @*  <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>*@
        <div class="row">

            <div class="twelve columns">

                          </div>

        </div><!-- Site Heading Title ENDS -->


       <div class="slider-wrapper">

          

            <div id="slider" class="nivoSlider home-slider">
                <img src="img/slider/slider1.jpg" alt="slider" 
                     title="#htmlcaption1"/>

                @*<img src="@Url.Content(Model.images1)" alt="slider" 
                     title="#htmlcaption1"/>*@

                <img src="img/slider/slider2.jpg" alt="slider" 
                     title="#htmlcaption2"/>

                @*<img src="@Url.Content(Model.images2)" alt="slider" 
                     title="#htmlcaption2"/>*@

                <img src="img/slider/slider3.jpg" alt="slider" 
                     title="#htmlcaption3"/>

                @*<img src="@Url.Content(Model.images3)" alt="slider" 
                     title="#htmlcaption3"/>*@

            </div>



            <!-- image captions start -->
            <div id="htmlcaption1">
                <p class="nivo-caption-title">
                    Giới thiệu nè
                </p>

                <div class="nivo-caption-subtitle">
                   tóm tắt vài dòng cho nó có cái hồn :))
                </div>
            </div><!-- image captions end -->

            <!-- Second image captions start -->
            <div id="htmlcaption2">
                <p class="nivo-caption-title">
                    Giới thiệu nè
                </p>

                <div class="nivo-caption-subtitle">
                    Tóm tắt vài dòng cho nó có cái hồn :))
                </div>
            </div><!-- image captions end -->

            <!-- Thirs image captions start -->
            <div id="htmlcaption3">
                <p class="nivo-caption-title">
                    Giới thiệu nè
                </p>

                <div class="nivo-caption-subtitle">
                   Tóm tắt vài dòng cho nó có cái hồn :))
                </div>
            </div><!-- image captions end -->

            <!-- slider images shadow -->
            <div class="slider-shadow"></div>

            <div class="shadow-bottom"></div>
        </div>


       


        <div class="row">
            @* @{Html.ActionLink("menu", "loaiphong");}*@

             @RenderBody()



        </div><!-- Slider Row ENDS -->





        <div class="row footer background-color">

            <div class="twelve columns">

                <div class="footer-menu">

                     @Html.ActionLink("Giới thiệu chung", "Aboutfull", "Home", null, new { @class="left"})
                     @Html.ActionLink("Dịch vụ","Dichvu","Home",null, new { @class="left"})
                     @Html.ActionLink("Đối tác","doitac","Home",null, new { @class="left"})

                     @Html.ActionLink("Tin tức" ,"Index", "TinTuc", null, new { @class="right"})
                     @Html.ActionLink("Liên lạc", "Contact", "Home", null, new { @class="right"})

                </div>

            </div>

        </div>

    </div><!-- RightSide ENDS -->

</div><!-- Page Wrap ENDS -->

<div id="toTop"></div>

     @RenderSection("scripts", required: false)

</body>

</html>
